<footer class="container-fluid bg-dark text-white fw-bold" id="footer">
  <div class="row">
    <div class="col-12 col-md-3 text-end">
      <h3>Hotel Testla</h3>
    </div>
    <div class="col-12 col-md-6 text-end align-self-center">
      <h3>Ven a visitarnos, lo disfrutarás desde el primer día.</h3>
      <a href="">
        <i class="bi bi-whatsapp fs-1 text-white me-2"></i>
      </a>
      <a href="">
        <i class="bi bi-facebook fs-1 text-white me-2"></i>
      </a>
      <a href="">
        <i class="bi bi-instagram fs-1 text-white me-2"></i>
      </a>
    </div>
  </div>
</footer>
