<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center">
     Hotel Tesla
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
      <ion-tab-button tab="habitacion">
        <ion-icon name="airplane-outline"></ion-icon>
          Reservar habitacion
      </ion-tab-button>
      <ion-tab-button tab="ingresar">
        <ion-icon name="create-outline"></ion-icon>
          Crear habitacion
      </ion-tab-button>
      <ion-tab-button tab="list">
        <ion-icon name="list-outline"></ion-icon>
          Lista de clientes
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> 
</ion-content>



